<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myPostProcessor" class="com.xz.oauth.server.processor.MyBeanPostProcessor" />
    <bean id="testSpringBeanA" class="com.xz.oauth.server.domain.TestSpringBeanA">
        <property name="b" ref="testSpringBeanB"/>
    </bean>
    <bean id="testSpringBeanB" class="com.xz.oauth.server.domain.TestSpringBeanB">
        <property name="a" ref="testSpringBeanA"/>
    </bean>

</beans>